@import "fonts.less";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;

  .page {
    width: 100%;
    height: auto;
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    align-content: center;
    justify-content: space-between;

    .header {
      order: 0;
      flex: 0 0 auto;
      width: 100%;
      padding: 30px 80px 20px;
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-end;
      align-content: center;
      justify-content: flex-start;
      border-bottom: 1px solid #eaeaea;

      .logotype {
        order: 0;
        flex: 0 0 auto;
        width: 159px;
        height: 69px;
        background: url('../images/logotype.png') 50% 50% no-repeat;
      }

      &-slogan {
        order: 0;
        flex: 0 0 auto;
        padding: 0 20px;

        &__word,
        &__work {
          font: 300 20px/20px 'PF Din', sans-serif;
          letter-spacing: -.02em;
          color: rgba(255, 255, 255, 1);
          background-color: #74b24b;
        }

        &__word {
          padding: 6px 10px 0;
          width: 90px;
        }

        &__work {
          padding: 0 10px 6px;
          width: 140px;
        }
      }
    }

    .table {
      order: 0;
      flex: 1 0 auto;
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      align-content: center;
      justify-content: flex-start;

      &__title {
        order: 0;
        flex: 0 0 auto;
        width: 100%;
        height: auto;
        font: 400 25px/25px ~'PF Din', sans-serif;
        letter-spacing: -.03em;
        color: black;
        padding: 50px 90px 20px;
      }

      &-header {
        order: 0;
        flex: 0 0 auto;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        align-content: center;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid #c7c7c7;
        padding: 0 80px;

        &__row {
          order: 0;
          flex: 0 0 120px;
          font: 300 18px/18px ~'PF Din', sans-serif;
          letter-spacing: -.01em;
          text-align: center;
          color: #828282;
          padding: 10px 0;

          &:first-child {
            flex: 1 1 auto;
            text-align: left;
            margin: 0;
          }
        }
      }

      &-body {
        order: 0;
        flex: 0 0 auto;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        align-content: center;
        justify-content: flex-start;

        &__row {
          order: 0;
          flex: 0 0 auto;
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          align-items: stretch;
          align-content: flex-start;
          justify-content: flex-start;
          padding: 0 80px;
          border-bottom: 1px solid #a8a8a8;
        }

        &__vertical-row {
          order: 0;
          flex: 0 0 auto;
          height: auto;
          min-height: 100px;
          font: 400 17px/22px ~'PF Din', sans-serif;
          letter-spacing: -.02em;
          color: black;
          padding: 8px 0;
          background-color: #92c9e7;
          border: 1px solid #0089d0;

          span {
            display: block;
            writing-mode: vertical-rl;
            transform-origin: center;
            transform: rotate(-180deg);
          }
        }

        &-materials {
          order: 0;
          flex: 1 0 auto;
          display: flex;
          flex-flow: column nowrap;
          align-items: stretch;
          align-content: flex-start;
          justify-content: flex-start;
        }

        &-material {
          order: 0;
          flex: 0 0 auto;
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          align-content: center;
          justify-content: space-between;
          border-bottom: 1px solid #a8a8a8;
          text-decoration: none;

          &__icon {
            order: 0;
            flex: 0 0 auto;
            align-self: flex-start;
            padding: 0 20px;
            width: 180px;
            height: auto;
            line-height: 0;

            img {
              width: 100%;
              height: auto;
            }
          }

          &__title {
            order: 0;
            flex: 1 0 auto;
            font: 400 22px/22px ~'PF Din', sans-serif;
            letter-spacing: -.01em;
            color: black;
            padding: 0 0 0 13px;

            &.table-body-material__title_more {
              padding: 0;
            }

            span {
              display: block;
              width: 100%;
              height: auto;
              padding: 50px 0 50px 13px;
            }
          }

          &-more {
            width: 100%;
            height: auto;

            &__column {
              display: flex;
              flex-flow: row nowrap;
              align-items: center;
              align-content: center;
              justify-content: space-between;
              padding: 13px 20px;

              &:nth-child(odd) {
                background-color: #f7f7f8;
              }
            }
          }

          &__row {
            order: 0;
            flex: 0 0 120px;
            font: 400 22px/22px ~'PF Din', sans-serif;
            letter-spacing: -.01em;
            color: black;
            text-align: center;
          }

          &:last-child {
            border: 0;
          }
        }
      }

      &-comment {
        order: 0;
        flex: 0 0 auto;
        width: 100%;
        padding: 20px 80px;

        &__title {
          font: 500 18px/18px ~'PF Din', sans-serif;
          letter-spacing: -.02em;
          color: black;
        }

        &__body {
          padding: 10px 0;
          font: 400 16px/16px ~'PF Din', sans-serif;
          letter-spacing: -.02em;
          color: black;
        }
      }
    }

    .footer {
      order: 0;
      flex: 0 0 auto;
      width: 100%;
      height: auto;
      padding: 10px 0;
      font: 400 16px/16px ~'PF Din', sans-serif;
      letter-spacing: -.02em;
      color: black;
      text-align: center;
      background-color: #ebebeb;
      border-top: 1px solid #979797;
    }
  }
}
