@font-face{font-family:PF Din;src:local('sans-serif'),url(../fonts/pfdin.woff);font-weight:400}@font-face{font-family:PF Din;src:local('sans-serif'),url(../fonts/pfdin-thin.woff);font-weight:300}@font-face{font-family:PF Din;src:local('sans-serif'),url(../fonts/pfdin-med.woff);font-weight:500}